<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/Style/adminMain.css"/>
    <link rel="stylesheet" type="text/css" href="/Style/style.css"/>
    <title>Title</title>
</head>
<body>
    <div class="log-form-conteiner">
        <form action="/logout">
            <button type="submit" class="exit">Вийти</button>
        </form>
    </div>

    <div class="log-form-conteiner">
        <form action="/adminMain/adminAddPacient">
            <button type="submit" class="button2 text2">Додати пацієнта</button>
        </form>
    </div>

    <div class="log-form-conteiner">
        <form action="/adminMain/adminAddWorker">
            <button type="submit" class="button3 text3">Додати працівника</button>
        </form>
    </div>

    <div class="log-form-conteiner">
        <form action="/adminMain/adminChangePassword">
            <button type="submit" class="button4 text4">Змінити пароль</button>
        </form>
    </div>
<!--    <div class="log-form-conteiner">-->
<!--        <form action="">-->
<!--            <button type="submit" class="button5 text5">Аналітичні інструменти</button>-->
<!--        </form>-->
<!--    </div>-->
</body>
</html>