<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin</title>
</head>

<body>
    <div align="center">
        <a>
            <p>Hi Admin Pidaras</p>
        </a>
    </div>

    <div class="log-form-conteiner" align="right">
        <form action="/logout">
            <button type="submit" class="log-button">Вийти</button>
        </form>
    </div>
</body>

</html>