<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="adminAnalitics.css"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  <title>Title</title>
</head>
<body>
<div class="log-form-conteiner">
    <form action="/logout">
        <button type="submit" class="exit button1">Вийти</button>
    </form>
</div>
<div class="log-form-conteiner">
    <form action="">
        <button type="submit" class="button2"></button>
    </form>
</div>
</body>
</html>