<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/Style/adminChangePassword.css"/>
    <link rel="stylesheet" type="text/css" href="/Style/style.css"/>
    <title>Title</title>
</head>
<body>

<div class="log-form-conteiner">
    <form action="/adminMain/changeUserPassword" method="post">
        <input class="input" type="text" name="mobile" placeholder="Тел." >
        <input class="input1" type="text" name="newPassword" placeholder="Новий Пароль">
        <br><br>
        <button type="submit" class="button3">Змінити пароль</button>
    </form>
</div>

</body>
</html>