<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Style/globalStyle.css">
    <link rel="stylesheet" type="text/css" href="Style/docStyleCustom.css">
    <title>Doc Analis</title>
</head>
<body>
    <div class="log-form-conteiner">
        <form action="/logout">
          <button type="submit" class="exit">Вийти</button>
        </form>
    </div>
      
    <div class="log-form-conteiner">
        <form th:action="'/docMain?mobile=' + ${card.mobile}" method="post">
          <button type="submit" class="goBack">Назад</button>
        </form>
    </div>

    <div class="form-conteiner" align="center">
        <form th:action="'/docMain/' + ${card.id}" method="post">
            <input placeholder=" Тип аналізу" class="dAnType" type="text" name="typeAnalis">

            <br>            
            <input placeholder=" Додаткова информація" class="dAnDI" type="text" name="dopInfo">

            <br>
            <button type="submit" class="dAAddGoL">Додати направлення на аналіз</button>
        </form>
    </div>
</body>
</html>