<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Style/globalStyle.css">
    <link rel="stylesheet" type="text/css" href="Style/docStyleCustom.css">
    <title>Doc Visit</title>
</head>
<body>
    <div class="log-form-conteiner">
        <form action="/logout">
          <button type="submit" class="exit">Вийти</button>
        </form>
    </div>
      
    <div class="log-form-conteiner">
        <form th:action="'/uuserMain/' + ${mobile}">
          <button type="submit" class="goBack">Назад</button>
        </form>
    </div>

    <div class="form-conteiner" align="center">
        <form action="/docMain/" method="post">
            <input placeholder=" Скарга" class="dVCom" type="text" name="complaint">

            <br>            
            <input placeholder=" Огляд" class="dVRev" type="text" name="review">

            <br>            
            <input placeholder=" Діагноз" class="dVDia" type="text" name="diagnosis">

            <br>
            <button type="submit" class="dVaddVisit">Додати візит</button>
        </form>
    </div>
</body>
</html>