<!-- Просматривает направление пациента на анализы;
     Прикрепляет файл с резултьтатами анализа к напрвлению на анализ;-->
<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Style/labStyle.css">
    <title>Laboratory</title>
</head>

<body>
    <form action="/labMain" method="get">
        <div align="center">
            <p>Прегляд призначенних аналізів</p>
            <input type="text" name="mobile" placeholder="">
        </div>

        <br>
        <div class="log-form-conteiner" align="center">
            <button type="submit" class="log-button">Переглянути призначення</button>
        </div>
    </form>

    <br><br>

    <table border="1" align="center">
        <tr>
            <th>Id</th>
            <th>Visit_Id</th>
            <th>Analysis_Type</th>
            <th>Dop_Info</th>
            <th>Pacient_Mobile</th>
        </tr>
        <tr th:each = "el : ${goLList}">
            <td th:text="${el.id}"></td>
            <td th:text="${el.visitId}"></td>
            <td th:text="${el.analysisType}"></td>
            <td th:text="${el.dopInfo}"></td>
            <td th:text="${el.pacientMobile}"></td>
        </tr>
    </table>

    <br><br>

    <form action="/labMain" method="post" enctype="multipart/form-data">
        <div align="center">
            <p>Обрати призначення за номером</p>
            <input type="number" name="goLId" placeholder="">
        </div>

        <div align="center">
            <p>Завантажити результати аналізу</p>
            <input type="file" name="analysisResult" placeholder="">
        </div>

        <br>
        <div class="log-form-conteiner" align="center">
            <button type="submit" class="log-button">Завантажити</button>
        </div>
    </form>

    <br><br>
    <br><br>

    <div class="log-form-conteiner" align="center">
        <form action="/logout">
            <button type="submit" class="log-button">Вийти</button>
        </form>
    </div>
</body>
</html>