<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="Style/globalStyle.css">
    <link rel="stylesheet" type="text/css" href="Style/labStyleCustom.css">
    <title>Lab Main</title>
</head>
<body>
    <div class="log-form-conteiner">
        <form action="/logout">
          <button type="submit" class="exit">Вийти</button>
        </form>
      </div>
      
      <div class="large-form-conteiner">
        <form action="/labMain/">
          <button type="submit" class="largeButton getAnalys">Узяти аналіз</button>
        </form>
      </div>

      <div class="large-form-conteiner">
        <form action="/labMain/">
          <button type="submit" class="largeButton downloadResult">Завантажити результат</button>
        </form>
      </div>
</body>
</html>