<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
</head>

<body>
    <main>
        <div class="log-form-conteiner">
            <form action="/login/authorization" method="post">
                <p>Увійти</p>

                <p>Логін</p>

                <input type="text" name="name">

                <p>Пароль</p>

                <input type="password" name="password"><br>

                <div class="account">
                    <a href="/registration/">Створити обліковий запис</a>
                </div>

                <button type="submit" class="log-button">Увійти</button>
            </form>
        </div>
    </main>
</body>

</html>