<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Style/style.css">
    <title>Login</title>
</head>

<body>
    <main>
        <p align = "center"><img src="/Style/Img/414987574.png"></p>
        <div class="log-form-conteiner" align="center">
            <form action="/login/authorization" method="post">
                <!--<p>Увійти до особового кабінету</p>-->

                <input placeholder=" Логін" class="login1" type="text" name="name">

                <input placeholder=" Пароль" class="login2" type="password" name="password">
                <br>
                <!--
                <div class="account">
                    <a href="/registration/">Створити обліковий запис</a>
                </div>
                -->
                <br>
                <button type="submit" class="login" >Увійти</button>
            </form>
        </div>
    </main>
</body>

</html>