<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.w3.org/1999/xhtml"><head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/Style/userProcedure.css"/>
  <link rel="stylesheet" type="text/css" href="/Style/style.css"/>
  <title>Title</title>
</head>

<body>

<div class="log-form-conteiner">
  <form action="/logout">
    <button type="submit" class="exit button1">Вийти</button>
  </form>
</div>

<div class="log-form-conteiner">
  <form th:action="'/userMain/' + ${mobile}">
    <button type="submit" class="goBack">Назад</button>
  </form>
</div>

<p align="center">Таблиця для пергляду призначених процедур</p>
<table border="1" align="center">
  <tr>
    <th>Id</th>
    <th>Visit_Id</th>
    <th>Procedure_Type</th>
    <th>Dop_Info</th>
    <th>Visit_Left</th>
  </tr>
  <tr th:each = "el : ${goPList}">
    <td th:text="${el.id}"></td>
    <td th:text="${el.visitId}"></td>
    <td th:text="${el.procedureType}"></td>
    <td th:text="${el.dopInfo}"></td>
    <td th:text="${el.visitLeft}"></td>
  </tr>
</table>

</body>

</html>